<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<property name="connection.username">smartdot</property>	
		<property name="connection.password">smartdot</property>	
		<property name="connection.url">jdbc:mysql://localhost:3306/bookstore01?characterEncoding=utf8</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="show_sql">true</property>
		<mapping resource="mapping.xml" />	
		<mapping resource="Product.hbm.xml" />
		<mapping resource="ProductDetail.hbm.xml" />
	</session-factory>
</hibernate-configuration>